
.bryllup__header-header {
  padding: 1rem;
  background-color: var(--menu-color);
  color: var(--white-color);
  margin-bottom: 1rem;
}

.bryllup__header-content {
  font-family: "Alice";
  text-align: center;
}

.bryllup__header-content::before {
  margin-bottom: 0.5rem;
}

.bryllup__header-content::after {
  margin-top: 0.5rem;
}

.bryllup__header-content::before,
.bryllup__header-content::after {
  display: block;
  height: 2px;
  content: "";
  background: var(--white-color);
  width: min(10rem, 30vw);
  margin: 0.75rem auto 0.5rem;
}
