.bryllup__header-header {
  background-color: var(--menu-color);
  color: var(--white-color);
  margin-bottom: 1rem;

  box-shadow: 0px 0px 0px 10px var(--menu-color) inset,
    0px 0px 0px 12px var(--white-color) inset;
}

.bryllup__header-content {
  text-align: center;
  margin-block-start: 2rem;
  margin-block-end: 2rem;
  padding: 1rem 0;
}
