/* ------------- override built-in styles -------------- */
button.menubar__item__button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  font-family: "Source Sans Pro";
}

.menubar__item__link,
.menubar__item__link:hover {
  color: inherit;
  text-decoration: none; /* no underline */
}

.menu-list__container ul {
  list-style-type: none;
}

:root {
  --menubar-height: 6rem;
  --menubar-icon-width: 2.875rem;
  --menu-color: var(--tertiary-color);
  --menu-text-color: var(--white-color);
  --menu-hover-color: var(--tertiary-color--hover);
  --menu-item-gap: 3rem;
  --menu-item-height: 8rem;
}

nav {
  position: relative;
  z-index: 10;
}

/* MENU BAR start */
.menubar__background {
  position: fixed;
  bottom: 0rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  z-index: 2;

  width: 100%;
  min-height: var(--menubar-height);
  background: var(--menu-color);

  box-shadow: 0px -3px 71px -28px rgba(0, 0, 0, 0.41);
  -webkit-box-shadow: 0px -3px 71px -28px rgba(0, 0, 0, 0.41);
  -moz-box-shadow: 0px -3px 71px -28px rgba(0, 0, 0, 0.41);
}

.menubar__item__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
  position: relative;
  top: 0.1rem;

  width: var(--menubar-icon-width);
  font-family: "Source Sans Pro";
}

.menubar__item__container:hover {
  filter: brightness(80%);
}

.menubar__item__container:active {
  filter: brightness(70%);
}

.menubar__item__icon-container {
  height: var(--menubar-icon-width);
  width: var(--menubar-icon-width);
  border-radius: 100%;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.menubar__item__text {
  color: var(--menu-text-color);
}

/* MENU BAR end 
---------------------------------------------------
   MENU LIST start */

.menu-list__wrapper {
  position: fixed;
  top: 0;
  bottom: var(--menubar-height);
  width: 100vw;

  animation: append-animate 0.2s ease-out;
}

.menu-list__wrapper--animate-out {
  animation: remove-animate 0.2s ease-out;
}

.menu-list {
  height: 100%;
  overflow-y: scroll;

  background-color: var(--secondary-color);
}

.menu-list__item {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  min-height: var(--menu-item-height);
  max-width: min(55rem, 85vw);
  margin: 0 0 var(--menu-item-gap);
  margin-inline: auto;

  background-color: var(--menu-color);

  text-decoration: none;
  color: var(--menu-text-color);
  font-size: 2.25rem;
  font-weight: 300;
  font-family: var(--normal-text);

  box-shadow: 0px 0px 0px 10px var(--menu-color) inset,
    0px 0px 0px 12px var(--white-color) inset;
  transition: all ease 0.2s;
}

.menu-list__item:hover {
  background-color: var(--menu-hover-color);
  transition: all ease 0.2s;
}

.menu-list__item:active {
  filter: brightness(110%);
}

.menu-list__item:first-child {
  margin-top: calc(var(--menu-item-gap) * 5);
}

.menu-list__item:last-child {
  margin-bottom: var(--menu-item-gap);
}

.menu-list__item::after {
  content: "";
  width: 20%;
  border-bottom: 2px solid black;
  position: absolute;
  top: calc(100% + var(--menu-item-gap) / 2);
}

.menu-list__item:last-child::after {
  content: none;
}

.menu-list__close-button {
  position: fixed;
  top: 4rem;
  right: 4rem;
  z-index: 3;

  background-color: var(--white-color);
  box-shadow: 1px 2px 48px -1px rgba(0, 0, 0, 0.26);
  border: solid var(--menu-color) 0.3rem;
  border-radius: 50%;
  font-size: 2rem;
  width: 3.5rem;
  height: 3.5rem;
}

.menu-list__close-button:hover {
  border: solid var(--menu-hover-color) 0.3rem;
}
/* MENU LIST end */

@keyframes append-animate {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes remove-animate {
  to {
    transform: translateY(100%);
    opacity: 0;
  }
}
