.App:has(.gaveonsker__content) {
  --menu-color: var(--accent-2-color);
  --menu-hover-color: var(--accent-2-color--hover);
  --menu-text-color: var(--white-color);
}

.gaveonsker__description {
  font-size: large;
  font-weight: bold;
  font-variant: small-caps;
}

.gaveonsker__content {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 1.5rem;
}
