:root:has(.landing-page__wrapper) {
  --menu-color: var(--primary-color);
  --menu-hover-color: var(--primary-color--hover);
  --menu-text-color: var(--white-color);
}

body:has(.landing-page__wrapper)::after {
  background-image: url("https://images.unsplash.com/photo-1613408181923-f058a1b0e00c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1035&q=80");
  background-image: url("https://images.unsplash.com/photo-1604147706283-d7119b5b822c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80");
  background-size: cover;
  background-position: bottom;
  content: "";
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.landing-page__wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
}


.landing-page__header-image {
  width: calc(100% - 1.5rem);
  /* add small adjustment values due to crop error in image file */
  position: relative;
  top: 0.75rem;
  margin-bottom: 0.25rem;

}

.page-header {
  font-size: unset;
}

.bryllup__header-content {
  padding: 0;
}


@media screen and (min-width: 600px) {
  .landing-page__header-box {
    width: 25rem;
    margin-inline: auto;
  }
  
  .landing-page__header-image {
    margin-bottom: -2.25rem;
  }

  .page-header {
    font-size: min(6rem, 16vw);
  }
}

/*UNUSED HEADER AFTER IMAGE REPLACEMENT
 .landing-page__header-box {
  background-color: var(--menu-color);
  color: var(--menu-text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  box-shadow: 0px 0px 0px 10px var(--menu-color) inset,
    0px 0px 0px 12px var(--white-color) inset;
  transition: width ease 0.5s;
}

.landing-page__header-box.page-header {
  font-size: 6rem;
}

.landing-page__header__ampersand {
  height: 2rem;
  margin-top: -4rem;
  font-size: 4rem;
  font-weight: 400;
}

.landing-page__header__date {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.landing-page__header__line {
  width: 30%;
  border-bottom: solid 0.2rem black;
  position: relative;
  top: 1.5rem;
  margin: 0 2rem;
} */