@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap");

.landing-page__image-in-carousel {
  background: none no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 40rem;
}

.image-1 {
  background-image: url("https://lh3.googleusercontent.com/7bcKIyhaEGPL3AlqvjWfh9vTV6fZ1GhkJ4H55rPUU9ghQV5DmqIu-vayapZRPLDxo0-4A18HGp-THGTCC2oejkyVQILjv1wEjxH0jzDpaAWq4TSlD8ZHiIZW_T2K30-XfMCyuFXaPAfA22uLX8y4Jkxdrlg4g6sr8JrxRL00zsYweMzbRBTHqMF5dehjD-Bru68aUON-AJy-35tgkRBcBfZbmMSyeV7690R4FCJpr6soRaG2xvL6_O2MgzhyUm-TXFGiloPZblbdAzboHY4A1ukcF0_9afuaeACgBdRslK8LqA61G260R_lFGhPoUcJiCeroXEQpWZvs9LsoukjlL8UdmJyc3i42A3mF_2oX1lIETL84AJmbPDtCfitznvLYnc1gpCT6QVTTheWdtSXn2I_YLk92Ohrhz-zv9t1iGD1helhCbJXO8HovD95yYf2eJ6tliouFmBQ1mAzh2qAEgnX03ZGW4LlGlo8m2BYJ74lngmqMC4Pb1RhpU5iB0dFYAqBwhKy97_V-kObZaO3fQZFw1NPsFSJmbQ3G0qtB-nr8PPWSW0YujI3WlDVks-kAYaYaPQ5rAfCDocPITW0XMDqKx0UjD-AUMMTpDQE6KzEWIOpZhYMS6oowZeCcrkecOskEr49cGSFIXJxc8FMe-N4fyNYCeJlK_qecK4XgtHlaeCMTRKcn7WSvFXb6BNKlAQ6vE3bAJmzHg15fpd17HGKglflG76ktEs_dmQIJWd4bLfokBB5MdhsXD6Ry4qCPHbhQVDkQ4X4JPd82MDJOUzLduVftFhG36CovfT0nOy2TrTtYFcnZzSl08SKLdTuCi5Rq8tbN3tiXlLSk1G9nhYQmg71YUVjzCgko4SxcNS9Gw3OXhvNYc91sArHBgGzbBIAwnFMG0vr9J76QrkaDWf4g8wGGwU2Oo7t1nbtkq9zizeJYDw=w1046-h1854-no?authuser=0");
}
.image-2 {
  background-image: url("https://lh3.googleusercontent.com/mgDN7ALk0OY7AOSJcMh4TzfXB9eg9WJuSamdEYL9TmNYd2aCzLRp1uOpJ87AFttq7oePpYIspX1YvgPUpRZCC3rAS-VpfuZ4fG6zOq2eTsjv1WTcwXuNsrE7crdyE5AueLizP2K0fHmxQkZlGOHD8gGfjlTDHCQ9YFx-Ajx1kfERrlGfqLSwIL_iQHxV71MmGoOUqdqoDYNwVJrXJPQUg6KUfCxAebFxCbSVFiGuKoCRLXAZ-KTR3NZXzN6s4oViOvQQH0lwzrUC3MkcpG9_WmLjp2y-xNUAQ8VvQn7sk0mSy8Z3RX1HQPneunlClWK3Q1_Dx22SwfJkw4_dVgL61pV8K-YsGy81TjGVMwlvIxXiCUdFhpkswCBeCkJeVDEPyS0EqV_KEEnlBoWJMW1TqtJnzGRKtqjkE4adMdyEdWopoTmIG_zo4WEj8pj8SeYNqOAke00kW8zzhDKzFIhww3MqBCyvvdujwmmkbTc5FBOAHaJabjMpolwUjCk0ov9SArz7Yv_2Zd4EVIdvnQbTN_k4BePEMtx3ru9T77LiooTTnPhnjslxd86I_xN7R2pMwO4MPCWOQT0HKRmX4Z8nfSMpCw13YDJNBmFxojYv5VYjzP9sipWVfII380EjXSRgL2ns2WtVUiutKOlmEJfxHm9S9sozoygyPscKbKlB1ih3qUztzCK-JKfzIgpBjE7COlnKWDgPB-mVs1qT3AX-qgmDqEPlvoKBw39L3CX4E6o9gzm64SctPAUC5hYJmGur-Qw2kvEc3U33ByKz41sanJk2HzcM8uFbun4U5kPeD7aW5HGacyQEdwzKLhwXoj_5FNAkYzqrO8CjHNC3HQvPazEEFxrzUL5jKCIGj0HddxdwfHWtkhqaEWWMpzIQbQOqAaMfY-fk_u25lomjnDd10nWPbkZan9gIiuK7fEepYiU8Io-ouw=w3046-h1714-no?authuser=0");
}
.image-3 {
  background-image: url("https://lh3.googleusercontent.com/9itHkupPLJ6LsDADgUbhHi-Ma4ZAx4zehAP3e559mpl54Veuj3L1LTm6GDXSRIuvzup0bkIqXr6NEEdr0b9H_HGxTkMF4gzoGVBxXmMVHEG-UZY530m9yTw70dePsK1tcGUPRbSpCt1I25Nuj3k3pYkyhDoH5Q_OoIYWZysX2XSp1u1OYWpmMOxmBCZLcO6mqXnThqaTO0u7yc90wDSBhADuvoKIB9V8zIL4y9F80LMqTeL9PBiu5jsCR6JwXe6pV2PeSBh7sx62_gI2_uTEML9SdtDAmrxEeQe7tL6uO4X5HvDgMbHFl8RPnGoASPUa6sPtezZNU9N3huhhHFZXCcYZgGtbyG58FEm-DTCER7Ebc-QH0EomWaidm7XFFkNE7Cs1aL3oVoldptMFDqprcEI_SLV1p4pq6rNhfLycQp15ATok-Dp9xpjqx4KH5HkdJWIJtDgllLhqMB--xHnrVreSS0ej_TznajnSXFO31LE5SpM1N9wAE5s9kVn8lft6qZjCIxNsdOEnAgGfzjrjH9qPPAuPe31rcLR7NHvmoeTsgoLvbR0Upw5icWc3S9hoH_YSS3bMSpG0_cUinKFq28x-FyBEiwEumS8xKwJ3yLkKe_SXnMKh0F9himStwQXPKu429ok-k3u7VHkXH1lt4jSjljZ68KVQFHylnRY9p9A40SIb1sQgGzekPsbi6i2MixGbWffmvpzqoXd3oetgubFoBJG3aP6g-Doq90GL986AH5FsSenKtKype8fqyNs9xt__xaaVanudysKtp5bPB789pPkzFzQt3D7my80bU69SbyuGL91oZC-uED3U0Ejcm8i2l0iJChz6uQOQ5P2xZy72uUotvakMEiHvO6L-plzuDmbKiZBTKP8WMeyL8Xm0ZFJRcxbGwU4S0AZfe21tWgKPy3-OZgJy2GbakeSpwlLsdK1IzA=w2624-h1968-no?authuser=0");
}

.landing-page__main-heading {
  position: absolute;
  top: 20rem;
  left: 0;
  right: 0;

  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;

  color: white;
  font-family: "Dancing Script", cursive;
  font-size: 8rem;
}
