@import url("https://fonts.googleapis.com/css2?family=Alice&family=Cedarville+Cursive&family=Crimson+Text:ital@0;1&family=Marvel:ital,wght@0,400;0,700;1,400&family=Ms+Madi&family=Saira+Condensed:wght@300&family=Source+Sans+Pro:wght@300;400&display=swap");

:root {
  /* COLORS */
  --primary-color: #838a74;
  --secondary-color: #fff4f3;
  --tertiary-color: #d1ae8a;
  --accent-1-color: #bbbfb3;
  --accent-2-color: #280003;
  --white-color: #ffffff;
  --text-color: #1f1f1f;

  --primary-color--hover: #606653;
  --secondary-color--hover: #dececc;
  --tertiary-color--hover: #a38464;
  --accent-1-color--hover: #979c8f;
  --accent-2-color--hover: #7d3339;

  /* TEXT */
  --normal-text: "Marvel";
  --fancy-text: "Ms Madi";
}

body {
  margin: 0;
  font-family: "Alice", serif;
  font-family: "Source Sans Pro", sans-serif;
  font-family: "Cedarville Cursive", cursive;
  font-family: "Crimson Text", serif;
  font-family: "Ms Madi", cursive;
  font-family: "Saira Condensed", sans-serif;
  font-family: "Marvel", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::after {
  background-image: url("https://images.unsplash.com/photo-1613408181923-f058a1b0e00c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1035&q=80");
  background-image: url("https://images.unsplash.com/photo-1604147706283-d7119b5b822c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80");
  background-size: cover;
  background-position: bottom;
  background-repeat: repeat;
  content: "";
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.content {
  max-width: 55rem;
  /* larger spacing on larger screens, very small spacing on tiny screens */
  padding: 3rem calc(1vmin + 2.5rem);
  /* shorthand for margin-left/margin-right */
  margin-inline: auto;
  max-height: calc(100vh - var(--menubar-height));
  overflow: scroll;
}

.content > div {
  margin-bottom: var(--menubar-height);
}

.page-header {
  font-size: min(6rem, 16vw);
  font-weight: 200;
  font-family: var(--fancy-text);
}

.section-heading {
  font-size: min(3.5rem, 14vw);
  font-weight: 200;
  font-family: var(--fancy-text);
  text-align: center;
  margin-bottom: -2rem;
}

.responsive-normal-text {
  font-size: min(1.5rem, 5vw);
}

.normal-text {
  font-family: var(--normal-text), "Saira Condensed";
  font-size: 2rem;
  text-align: left;
}

.normal-text > p {
  line-height: 2.5rem;
}

body :not(:is(h1, h2, h3, h4, h5, h6)) {
  line-height: 1.75;
}

.reveal-children :is(p, h1, h2, h3):not(.page-header) {
  transform: translateY(100px);
  opacity: 0;
  transition: 1s opacity, 1s transform;
}

.reveal-children :is(p, h1, h2, h3):not(.page-header).active {
  transform: translateY(0);
  opacity: 1;
}
